*{
    box-sizing: border-box;
	margin: 0px;
	padding: 0;
	font-family: 'poppins',sans-serif;
}

body{
    background-image: url('assets/aboutUsBg.jpg');
    background-position: center right;
	background-image: no-repeat;
	background-size: cover;
    font-size: large;
    color: black;
}

.header  {
    margin: 0;
    padding: 0 20px;
    background: transparent; 
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); 
    border-radius: 0px 0px 8px 8px; 
    color: white; 
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

#hdlist {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header-btn {
    padding: 8px 16px;
    background: transparent;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 2.5s ease;
}

.header-btn:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    background-color: #1e3d27be;
}


#hdlist{
    display: flex;
    align-items: center;
    gap: 20px;
}

#hdlist a{
    display: flex;
    color: rgb(205, 205, 205);
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    justify-content: flex-end;
}

.hideOnDesk{
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}

.open-sidebar-btn{
    right: 0;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: #1e3d27be;
    backdrop-filter: blur(20px);
    min-width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 1;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 200px;
    text-align: center;
    overflow: hidden;
    transition: all 10s ease;
}

.dropdown:hover .dropdown-content{
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content a{
    color: #f4f1f1;
    font-size: small;
    padding-inline: 12px 16px; 
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover{
    color: #0a0f11;
    transition: background 0.3 ease, color 10 ease;
}

#aboutUsText h2{
    text-align: right;
    color: antiquewhite;
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 10px;
    max-width: 90%;
}

#aboutUsText p{
    color: black;
    text-decoration: none;
    font-size: 1em;
    margin-bottom: 10px;
    max-width: 90%;
    text-align: right;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-style: italic;
    padding: 10px 30px;
    width: 100%;
    height: 450px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

#about-list{
    display: flex;
    flex-direction: column;
}

#loginModal, #aboutUsModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#loginModal h2, #aboutUsModal h2 {
    margin: 0;
    color: #007BFF;
}



@media (max-width: 768px) {

    .hideOnMobile{
        display: none;
    }

    .hideOnDesk{
        display: flex;
    }

    #hdlistsidebar{
        position: fixed;
        top: 4px;
        right: -100%;
        padding: 10px;
        height: 100vh;
        width: 70%;
        z-index: 8;
        border-radius: 3px;
        background-color: rgb(2, 2, 2),0.8;
        backdrop-filter: blur(20px);
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.75s ease-in-out;
    }

    
    #hdlistsidebar ul{
        display: flex;
        flex-direction: column;
    }

    #hdlistsidebar a{
        color: black;
    }

    #sidebar-active{
        display: none;
    }

    .open-sidebar-btn, .close-sidebar-btn{
        display: block;
        margin: 10px;
    }

    #sidebar-active:checked ~ #hdlistsidebar{
        right: 0;
        
    }

    #sidebar-active:checked ~ #overlay{
        background-color: red;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
    }

    .dropdown-content {
        display: none; 
    }
}





@media(max-width: 400px) {

    .hideOnMobile{
        display: none;
    }

    #menu-btn{
        display: flex;
    }

    #hdlistsidebar{
        width: 100%;
    }
    .header{
        height: 8vh;
        font-size: 0.9em;
    }
}