{% extends "base.htm" %}

{% block title %}About US{% endblock %}

{% block body_class %}about-page{% endblock %}

{% block content %}

    <div class="aboutUsModal">

        <div id="aboutUsText">
            <h2>About US</h2>
            <p>We are a dedicated team committed to delivering exceptional solutions. Our journey began with a simple mission: to innovate and create meaningful impact.</p>
            <p>Our core values include:</p>
        </div>

        

        <div id="about-content">

            <ul id="about-l5ist">
                <li>Innovation</li>
                <li>Integrity</li>
                <li>Customer Satisfaction</li>
            </ul>
            
        </div>


    </div>

    <div id="btm-abt">

        <p>Desc</p>

    </div>

{% endblock %}