{% extends "base.htm" %}

{% block title %}Home{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}


    <div class="container1">
        <section id="1sthalf">
           
        </section>

        <div id="imgbox1">
            <h1>Big Image</h1>
        </div>
    </div>

    
    <div class="container2">

        <p>Long paragraphs and images and a specific space for anything like account login or brief description in a big block around almost occupying half of the window.</p>

    </div>


    <div class="container3">
        <div id="leftblock">
            <ul>
                {% for i in range(1,11) %}
               <li id="leftitms">Item {{ i }}</li>
               {% endfor %}
            </ul>
        </div>

        <div id="block1">
            <h2>BLAH</h2>
        </div>

        <div id="block2">
            <h2>Blah</h2>
        </div>

        <div id="rightblock">
            <ul>
               {% for i in range(1,11) %}
               <li id="rightitms">Item {{ i }}</li>
               {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container4">
        <div id="textblock1">
            <p>Text block content here</p>
        </div>
        <div id="imgblock1">
        </div>
    </div>

    <div class="container4">
        <div id="imgblock2">
        </div>
        <div id="textblock2">
            <p>Another text block content here</p>
        </div>
    </div>

    <div class="description">
        <p>This is where you should type in the description. Example: the address of the organization, contact details, etc...</p>
    </div>


{% endblock %}