{% extends "base.htm" %}

{% block title %}Home{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}


    <div class="container1">
        <section id="1sthalf">
           
        </section>

        <div id="imgbox1">
            <h1>Big Image</h1>
        </div>
    </div>

    
    <div class="container2">

        <br><br><p>Carbon footprint regulations in Europe aim to reduce greenhouse gas emissions and 
            combat climate change by promoting sustainable practices across industries. The
             European Union (EU) has implemented various legislative frameworks, such as the European 
             Green Deal and the "Fit for 55" package, to achieve carbon neutrality by 2050. Key components
              include the EU Emissions Trading System (EU ETS), which sets a cap on emissions and allows for 
              trading carbon allowances, and the Carbon Border Adjustment Mechanism (CBAM), which prevents carbon 
              leakage by imposing tariffs on imported goods based on their carbon footprint. Additionally, directives 
              like the Renewable Energy Directive and the Energy Efficiency Directive encourage the adoption of clean energy 
              and energy-saving technologies. Companies are required to report their carbon emissions under the Corporate Sustainability 
              Reporting Directive (CSRD), while sectors like transportation and agriculture face specific emission reduction targets. Financial 
              incentives, penalties, and subsidies for green initiatives further support compliance. These regulations reflect Europe’s 
              commitment to global climate goals, driving innovation, and encouraging collaboration to create a low-carbon economy.
        </p><br>

        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><center>Calculate your Carbon Footprint?</center></h2><br>
        <center><button onclick="toggleLoginModal()">calculate</button></center>
    </div>


    <div class="container3">
        <div id="leftblock">
            <ul>
                {% for i in range(1,11) %}
               <li id="leftitms">Item {{ i }}</li>
               {% endfor %}
            </ul>
        </div>

        <div id="videoBlock">
            <video id="carbonVideo" controls>
                <source src="{{ url_for('static', filename='videos/your-video-name.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div id="rightblock">
            <ul>
               {% for i in range(1,11) %}
               <li id="rightitms">Item {{ i }}</li>
               {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container4">
        <div id="textblock1">
            <h2>Simple & Accurate</h2><br>
            <p>"Answer a few questions about your lifestyle, transportation, and energy usage to get<br> 
                a detailed analysis of your carbon footprint. Discover personalized tips to reduce your impact on<br>
                the environment and make sustainable choices. Track your progress over time and join a <br>
                community committed to fighting climate change. Start your journey towards a greener future today!"
            </p>
        </div>
        <div id="imgblock1">
        </div>
    </div>

    <div class="container4">
        <div id="imgblock2">
        </div>
        <div id="textblock2">
            <h2>Personalized Tips</h2>
            <br><br>
            <p>
                Answer a few questions about your lifestyle, transportation, and energy usage to get a detailed <br>
                analysis of your carbon footprint. Receive customized recommendations to <br>
                reduce your environmental impact and track your progress over time. Discover personalized<br>
                tips to make sustainable choices and join a community committed to fighting climate change. Start your<br>
                  journey towards a greener and more sustainable future today!
            </p>
        </div>
    </div>

    <div class="description">
        <p>This is where you should type in the description. Example: the address of the organization, contact details, etc...</p>
    </div>


{% endblock %}