<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Default title{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styletry.css')}}"></linl>
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <div class="header {% if request.endpoint == 'aboutUs' %}transparent-header{% else %}default-header{% endif %}">
            <div class="header-logo">Your Logo</div>
    
            <input type="checkbox" id="sidebar-active" hidden>
    
            <div id="hdlistsidebar">
                <ul>
                    <label for="sidebar-active" class="close-sidebar-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                           <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                       </svg>
                   </label>    
                    <li class="hideOnDesk"><a href="{{ url_for('home') }}" class="header-btn">Home</a></li>
                    <li class="hideOnDesk"><a href="#login" onclick="toggleLoginModal()" class="header-btn">Profile</a></li>
                    <li class="hideOnDesk"><a href="{{ url_for('aboutUs') }}" class="header-btn">About Us</a></li>
                    <li class="hideOnDesk"><a href="#contact" class="header-btn">Contact Us</a></li>
                </ul>
        
            </div>
          
            <ul class="hdlist">
                <li class="hideOnMobile"><a href="{{ url_for('home') }}" class="header-btn">Home</a></li>
                <li class="hideOnMobile"><a href="#login" onclick="toggleLoginModal()" class="header-btn">Profile</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('aboutUs') }}" class="header-btn">About Us</a></li>
                <li class="hideOnMobile dropdown">
                    <a href="#" class="header-btn">Contact Us</a>
                    <div class="dropdown-content"><br>
                        <a href="#email">Email Us</a><br>
                        <a href="#call">Call Us</a><br>
                        <a href="#visit">Visit Us</a><br>
                    </div>
                </li>
                <label id="overlay" for="sidebar-active" class="open-sidebar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                    </svg>
                </label>
            </ul>
        </div>
    
        <div id="loginModal">
            <div class="modal-content" id="modal-content">
                <div id="loginText">
                    <h2>Login</h2>
                </div>
                <div id="loginPort">
                    <form action="{{ url_for('login') }}" method="POST">
                        <label for="username">Username</label><br>
                        <input type="text" id="username" name="username" required><br><br>
                        <label for="password">Password</label><br>
                        <input type="password" id="password" name="password" required><br><br>
                        <label for=""><input type="checkbox">Remeber Me 
                            <a href="#">Forget password?</a>
                        </label>
                        <br><br>
                        <button id="login-btn" type="submit"  onclick="loginUser()">Login</button><br>
                        <center><p>Don't have an account <a href="#" onclick="toggleSignup()">Register?</a></p></center>
                        </form>
                        <button id="button" onclick="toggleLoginModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black">
                                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">

                {% block content %}
                {% endblock %}

        </div>

        <script src="{{ url_for('static', filename='Js/scriptp.js')}}"></script>

    </body>

</html>